.item {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
}

.item.active {
    display: block;
}

.item .title {
    font-size: 12rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #690606;
    text-align: top;

    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.item .title2 {
    font-size: 12rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #0a9f4b;
    text-align: top;

    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.item .title3 {
    font-size: 12rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #ff7300;
    text-align: top;

    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.item .fruit{
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}

.item .refri{
    z-index: 3;
    width: 600px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translate(-50%,);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
} 

#prev{
    left: 30px;
}
#next {
    right: 30px;
}

@keyframes toActive {
    from {
        top: 100%;
        opacity: 0;
    }  
}

.item .active img.fruit {
    animation: toActive 0.5s ease-in-out 1;

}

.item.active .title {
    animation: toActive 0.5s ease-in-out 1;

}

.item.active .title2 {
    animation: toActive 0.5s ease-in-out 1;

}

.item.active .title3 {
    animation: toActive 0.5s ease-in-out 1;

}