
/*ESTILO GERAL*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

html{
    scroll-behavior: smooth;
}  

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.logo img {
    max-width: 250px; 
    height: auto;     
    display: block;   
    border: 0;
    border-radius: 30px;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

h2.titulo{
     color: #fff;
     font-size: 38px;
     text-align: center;

     & span{
        color: #00ff08;
     }
}

button:hover{
    box-shadow: 0px 0px 8px #00ff08;       
    transform: scale(1.05);  
    transition: .2s;
}


/* ESTILO DO CABEÇALHO */

header{
    padding: 20px 4%;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    background: transparent; 
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 30px;
}



/* ESTILO MOBILE */
.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: #00FF08;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;

    & .btn-contato2{
        display: none;
    }
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #00FF08;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}   

.menu-mobile nav ul li a:hover{
    background-color: #00FF08;
    color: #000;
}

.overlay-menu{
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}


/* estilo do site */

section.topo-do-site{
     min-height: 130vh;
     display: flex;
     align-items: center; 
     justify-content: center;
     padding: 120px 4%;
     position: relative;
     z-index: 1;
}



section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #00ff08;
    
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 10px 0;
}

.topo-do-site .img-topo-site img{
    max-width: 450px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    max-height: 85vh;
    width: auto;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px
    }
}

/* ESTILO DAS ESPECIALIDADES*/
section.especialidades{
    padding: 0px 4%;
    margin-top: -150px;
    z-index: 2;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;

    & h3{
      font-size: 25px;
      font-weight: bold;
    }

    & i{
      font-size: 70px;
      color: #00ff08;
    }

    & p{
      font-size: 20px;
      margin: 15px 0;
      color: #fff;
    }
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow:  0 0 20px #ffffff65;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

/* ESTILO DA SEÇÃO SOBRE */
section.sobre{
   padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img-sobre img {
    max-width: 400px; 
    height: auto;     
    display: flex;
    border-radius: 70px; 
    margin-right: 100px; 
}

.sobre .txt-sobre{
    color: #fff;
    font-weight: bold;

    & h2{
        font-size: 50px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    & h2 span{
      color: #00ff08;
      display: block;
    }
    & p{
      margin: 20px 0;
      text-align: justify;
      font-size: 23px;

      & span{
       color: #00ff08;
       text-transform: uppercase;
      }
    }

    & .btn-social button{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        background-color: #00ff08;
        font-size: 23px;
        cursor: pointer;
        margin: 0 5px;
    }
}

/* ESTILO DO PORTIFÓLIO */
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;

    & .flex{
        justify-content: space-around;
        margin-top: 60px;
    }

    & .img-port{
        width: 360px;
        height: 460px;
        background-size: cover;
        background-position: 100% 0;
        transition: 8s;
        cursor: pointer;
        border-radius: 40px;
        position: relative;

        &:hover{
        background-position: 100% 100%;
        }

        & .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000000b8;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
            opacity: 0;

            &:hover{
                background-color: #000000b8;
                cursor: pointer;
                opacity: 1;

                & span{
                    color: #00ff08;
                }
            }
        }
    }
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario{
    padding: 80px 4%;

    & form{
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;

        & input, textarea{
            max-width: 100%;
            background-color: #242424;
            border: 0;
            outline: 0;
            padding: 20px 15px;
            border-radius: 15px;
            color: #fff;
            font-size: 18px;
            
              &::placeholder{
                   color: #00ff08ae;
                   font-weight: 600;
            }
        }
                
         & textarea{
             resize: none;
             max-height: 200px;
       }
    & .btn-enviar{
            margin-top: 20px;
            text-align: center;

            & input{
                width: 120px;
                background-color: #00ff08;
                color: #000;
                font-weight: 700;
                cursor: pointer;

                &:hover{
                    transform: scale(1.05);  
                    transition: .2s;
                    box-shadow: 0px 0px 8px #00ff08;   
                }
            }
        }
    }
}

/* ESTILO RODAPÉ */

footer{
    padding: 20px 4%;
    box-shadow: 0px 0px 8px #ffffff1d; 

    & .logo-footer img{
        width: 160px;
        height: auto;
        align-items: center;
        justify-content: center;
        display: block;
    }

    & .btn-social button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: #00ff08;
        font-size: 22px;
        cursor: pointer;
        margin: 0 5px;  
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    
    & .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .line-footer{
        padding: 10px 0;
    }

    & .borda{
        border: 2px solid #00ff08;
        border-bottom: none;
        border-left: none;
        border-right: none;
        padding-top: 20px;
    }

    & .line-footer p i{
        color: #00ff08;
        font-size: 22px;
    }

    & .line-footer p a{
        color:#fff;
        margin: 0 5px;
        text-decoration: none; 
        border-bottom: 2px solid #00ff08; 
        padding-bottom: 2px;
    }
}

@media screen and (max-width: 1030px){

header .btn-contato{
        display: none;
    }

    .topo-do-site .btn-contato{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

.btn-abrir-menu{
    display: block;
}

/*classes gerais*/
    .flex{
        flex-direction: column;
    }
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

 /*cabeçalho */
    .topo-do-site .img-topo-site img {
    display: block;
    width: 80%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
}

    section.topo-do-site {
        padding: 30px 4% ;
        padding-top: 30%;
        height: auto;
        min-height: auto; 
    }

    .menu-desktop{
        display: none;
    }
    .btn-contato{
        display: none;
    }

    /* TOPO DO SITE*/
    .topo-do-site h1{
    font-size: 30px;
     }
    section.topo-do-site .flex{
        gap: 0px; 
     }
    


/* ESPECIALIDADES*/

section.especialidades{
    padding: 70px 10%;
}
    .especialidades h2{
    font-size: 30px;
    padding-top: 20%;
    line-height: 30px;
}

/* SOBRE */
section.sobre{
    padding: 80px 8%;
}

.sobre .txt-sobre h2 {
    font-size: 34px;
    line-height: 35px;
    text-align: center;
}

.sobre .txt-sobre p{
      margin: 40px 4%;
      text-align: justify;
      font-size: 20px;
}

.btn-social{
    text-align: center;
  }

  .img-sobre img{
    width: 100%;
    padding-bottom: 30px;
    padding-top: none;
  }

/*PORTIFÓLIO */
section.portifolio{
    padding: 80px 3%;
}

.img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
}

section.portifolio .flex{
    gap: 60px;
}
}